
.seeAllPage{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: green;
    
}
.staticImg{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: auto;
    display: flex;
    text-align: center;
}

.descript{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: 5px;
    background-color: gray;
    
}


@media only screen and (max-width: 820px) and (min-width: 400px){
    .staticImg{
        /* width: 200px;
        height: 40px;
        border: 1px solid #95A0A7;
        border-radius: 8px;
        position: relative; */
        grid-template-columns: repeat(1 1fr);
    }
}